<div class="container mt-5">
    <div class="d-flex flex-row-reverse bd-highlight">
      <app-employee-create-form (userCreated)="updateEmpolyees()"></app-employee-create-form>
    </div>
    <h2 class="mb-3 text-center">Сотрудники</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Отдел</th>
          <th scope="col">ФИО</th>
          <th scope="col">Дата рождения</th>
          <th scope="col">Дата найма</th>
          <th scope="col">З/П (рублей в месяц)</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of Employees">
          <td>{{ employee.department }}</td>
          <td>{{ employee.fullName }} </td>
          <td>{{ employee.birthDate | date }}</td>
          <td>{{ employee.hireTime | date }}</td>
          <td>{{ employee.salary | number }}</td>
          <td>
            <app-employee-delete-confirm [employee]="employee" (employeeDelete)="updateEmpolyees()"></app-employee-delete-confirm>
            &nbsp;
            <app-employee-update-form [employee]="employee"></app-employee-update-form>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
